body {
    font-family: Arial, sans-serif;
    max-width: 1400px;
    margin: 10px auto;
    padding: 20px;
    background-color: #f0dbde;
    
}

form {
    background: #c67f7f;
    padding: 30px;
    border-radius: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;    
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: larger;
}
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: larger;
}

button {
    background: #952e02;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: larger;
}

button:hover {
    background: #4e0202;
}

#result {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.risk {
    background: #fff3cd;
    border: 2px solid #ffeaa7;
    color: #856404;
}

.safe {
    background: #d4edda;
    border: 2px solid #c3e6cb;
    color: #155724;
}

.error {
    background: #f8d7da;
    border: 2px solid #f5c6cb;
    color: #721c24;
}

h1{
    
    margin-bottom: 20px;     
    text-align: center; 
}

h2 {
    color: #333;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    max-height: 500px;  
    height: auto;       
    width: auto;   
    border-radius: 10px; 
}

.uvod {
  background-image: url('../images/pikanje.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;   
  height: 500px;  
  border-radius: 10px;       
}

p {
    font-size: 20px;    
    margin: 20px;
    text-align: justify;
}


.diabetes-types {    
    margin: 20px auto;
}
.diabetes-types details {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px 14px;
    margin-bottom: 10px;
}
.diabetes-types summary {
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    text-align: center;
}
.diabetes-types summary::-webkit-details-marker {
    display: none;
    
}
.detail-content {
    padding-top: 10px;
    color: #333;
}